*{
    padding: 0;
}

.footer{
    background-color: rgb(62, 60, 60);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 2em;
    margin-top: 2vw;
    display: flex;
    justify-content: space-around;
}

.contacts{
    text-align: left;
    margin-left: 2em;
}

.icons{
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
}