*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.custrev{
    height: 100px;
    background-color: rgb(66, 65, 65);
    border-radius: 7px;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-style: italic;
}

.nocustrev{
    height: 100px;
    background-color: rgb(66, 65, 65);
    border-radius: 7px;
    padding: 10px;
    margin-top: 10px;
}


.ppic{
    height: 3em;
    margin-left: -3px;
    border-radius: 70%;
}

.letsrevw{
    display: flex;
    width: 90%;
    padding: 1em;
}

.textrev{
    padding-left: 1em;
    display: flex;
    justify-content: space-between;
}

.btns{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 49em;
}
/* .like-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #3b5998;
    border-radius: 5px;
    cursor: pointer;
  } */

  /* Style for the button when it's clicked */
  .like-btn.clicked {
    background-color: #1d4088;
  }




