@media screen and (max-width: 650px) {
  .head-data{
    flex-direction: column !important;
  }
  .head-data-content{
    width: 100% !important;
  }
  .poster-name-rating-text-styling{
    font-size: x-small !important;
    padding: 2% !important;
  }
  .date-text-styling{
    font-size: x-small !important;
    padding: 2% !important;
  }
  .decription-h1{
    text-align: center !important;
  }
  .decription-p{
    width: 96% !important;
    padding: 2% !important;
  }
  .uselinks{
    padding: 2% !important;
    width: 96% !important;
  }
  .uselinks-h1{
    font-size: large !important;
    width: 50% !important;
  }
  .uselinks-div{
    padding: 0% !important;
  }
  .prodpart{
    width: 96% !important;
    padding: 2% !important;
  }
  .productionheading{
    width: 50% !important;
    font-size: large !important;
  }
  .review{
    width: 50%;
  }
  .review-save{
    width: 30%;
    margin-left: -34.5%;
    margin-top: .5%;
    margin-bottom: .5%;
  }
}
.review-container{
  margin-bottom: 2%;
  width: 80%;
  display: flex;
}

.review{
  width: 40%;
  display: inline-block;
  padding: 14px 130px 14px 15px;
  border: 2px solid red;
  border-radius: 30px;
  background-color: white;
  color: black;
}

.review-save{
  border: 2px solid black;
  position:relative;
  padding: 10px 10px;
  border-radius: 30px;
  background-color: red;
  color: black;
  transition: .2s;
  font-size: large;
  margin-left: -20.5%;
  width: 20%;
  font-size: small;
  margin-top: .5%;
  margin-bottom: .5%;
}
.review-save:hover{
  background-color: black;
  border: 2px solid red;
  color: white;
  cursor: pointer;
}