.navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  margin: 0;
  width: 100%;
  z-index: 2;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.container {
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  height: 84px;
}

.left {
  display: flex;
  align-items: center;
}

.right{
  margin-top: 1em;
  margin-right: -5em;
}

.spans {
  margin-right: 60vw;
}

span {
  margin-right: 20px;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 52px;
  right: 1070px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  animation: fade-in 0.3s ease;
}

.dropdown-content span {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown-content span:hover {
  background-color: #f9f9f9;
}

.category-span {
  position: relative;
}

.logo {
  height: 98px;
  width: 147px;
  position: fixed;
  cursor: pointer;
  left: 0;
  top: 0;
}

.navbarblack {
  background-color: black;
}

span {
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  .left {
    margin-right: auto;
  }

  .right {
    margin-right: 0;
  }

  .spans {
    display: none;
  }

  .navbar {
    flex-direction: column;
    height: auto;
  }

  .navbarblack {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .logo {
    position: relative;
    top: unset;
    left: unset;
    margin: -2em ;
  }

  .navbar > .container > div {
    width: 100%;
    text-align: center;
  }

  .dropdown-content {
    position: relative;
    top: unset;
    right: unset;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
  }

  .dropdown-content span {
    display: block;
    padding: 15px;
    color: white;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .dropdown-content span:first-child {
    border-top: none;
  }

  .dropdown-content span:last-child {
    border-bottom: none;
  }

  .category-span {
    display: none;
  }

  .menu-icon {
    cursor: pointer;
    margin-top: 15px;
    margin-right: 20px;
    color: white;
    font-size: 2rem;
    display: block;
    text-align: right;
  }

  .menu-icon:hover {
    color: #f9f9f9;
  }

  .menu-icon:focus {
    outline: none;
  }

  .menu-btn {
    display: none;
  }

  .nav-links {
    display: none;
  }

  .nav-links.active {
    display: block;
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    background: black;
    z-index: 1;
  }

  .nav-links li {
    text-align: center;
    width: 100%;
    padding: 15px;
  }

  .nav-links a {
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    display: block;
  }
}