@media screen and (max-width: 650px) {
  .spans{
    display: none !important;
  }
  .left{
    width: 70% !important;
  }
  .right{
    width: 30% !important;
  }
  .logo{
    width: 200% !important;
  }
}